menu{
    background-color: blue;
    margin: 0;
    height: 60px;
    width: 100%;

}
menu .menu{
    float: right;
}
.menu li > a{
    text-decoration-line: none;
    color: white;
    font-family: monospace;
    text-shadow: 1px 1px 1px white;
    font-size: 16px;

}
.menu li {
    text-decoration-line: none;
    background-color: blueviolet;
    margin-right:15px;
    width: 100px;
    display: inline-block;
    text-align: center;
    height: 44px;
    border-radius: 1px;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    padding: 10px;

}
menu > .menu > li:hover{
    background-image: linear-gradient(red,blue);
} 
 li {
vertical-align: top;
}